/* Police d'écriture du site et Couleur de base du texte remise a 0 de toutes les marges  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    color:#242323;
    text-decoration: none;
}
body::-webkit-scrollbar {
    display: none;
}
* {
    scrollbar-width: none; /* Firefox implementation */
}
/*
**************************************************************************************************
*     General     ********************************************************************************
**************************************************************************************************
*/
/* Couleur de fond */
body{
    background-color: #daf9fc;
}
/* Alignement de centrale du texte */
.center{
    text-align: center;
}
h1 {
    text-align: center
    
}
h4 {
    color : #000000 ;
    text-align: center;  
    font-size: 30px;
}
a{
    color: #0608af;
}
/*
**************************************************************************************************
*      Login     *********************************************************************************
**************************************************************************************************
*/
#logo{
    margin-top: 20px;
    width: 15%;
}
#login{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 350px;
    height: 350px;
    background:linear-gradient(#77aadd, #90e0e7);
}
#user{
    width: 30%;
    margin-top: -15%;
}
#userlog{
    margin-top: 50px;
}
#motdepasse{
    margin-top: 50px;
}
#oublie{
    margin-top: 50px;
}
#connexion{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #77aadd;
    display: flex;
}
#connexion:hover {
    background-color: #6490bb;
    color: #daf9fc;
    text-decoration: none;
}
#connexion:active {
    background-color: #54789c;
    text-decoration: none;
}
#numeroAssist{
    margin-top: 15%;
}
/*
**************************************************************************************************
*      Accueil     *******************************************************************************
**************************************************************************************************
*/
#Accueil{
    margin-top: 100px;
}

.Position{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 90px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 80px;
    margin-right: 40px;
    margin-left: 40px;
}

#RapportdeVisite {
    border: 2px double #ffffff;
    border-radius: 20px;
    background:linear-gradient(#77aadd, #90e0e7);
    padding: 25px 5px 25px 5px; 
       
}
#ConsultationdesRapports {
    border: 2px double #ffffff;
    border-radius: 20px;
    background:linear-gradient(#77aadd, #90e0e7);
    padding: 25px 5px 25px 5px;
    
}
#Medicaments {
    border: 2px double #ffffff;
    border-radius: 20px;
    background:linear-gradient(#77aadd, #90e0e7);
    padding: 25px 5px 25px 5px;
}
#Praticiens {
    border: 2px double #ffffff;
    border-radius: 20px;
    background:linear-gradient(#77aadd, #90e0e7);
    padding: 25px 5px 25px 5px;

}/*
**************************************************************************************************
*      RapportVisite     *************************************************************************
**************************************************************************************************
*/
#formRapport {
    width: 15%;
    margin: auto;
    margin-top: 1%;
    text-align: center;
}
/*
**************************************************************************************************
*      ConsultMedoc     **************************************************************************
**************************************************************************************************
*/
#tableConsultMedoc{
    border: 2px solid #333;
    border-spacing: 0px;
    border-radius: 8px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
/*
**************************************************************************************************
*      ConsultPra     ****************************************************************************
**************************************************************************************************
*/
#tableConsultPra{
    border: 2px solid #333;
    border-spacing: 0px;
    border-radius: 8px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
/*
**************************************************************************************************
*      ConsultRap     ****************************************************************************
**************************************************************************************************
*/
#tableConsultRap{
    border: 2px solid #333;
    border-spacing: 0px;
    border-radius: 8px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}
/*
**************************************************************************************************
*      BordureTable     **************************************************************************
**************************************************************************************************
*/
.BborderR{
border-right: 1px solid #333;
border-bottom: 4px solid #333;
}
.BborderL{
border-left: 1px solid #333;
border-bottom: 4px solid #333;
}
.BborderM{
border-right: 1px solid #333;
border-left: 1px solid #333;
border-bottom: 4px solid #333;
}
.borderR {
border-right: 1px solid #333;
border-bottom: 1px solid rgba(51, 51, 51, .2);
}
.borderL {
border-left: 1px solid #333;
border-bottom: 1px solid rgba(51, 51, 51, .2);
}
.borderM {
border-right: 1px solid #333;
border-left: 1px solid #333;
border-bottom: 1px solid rgba(51, 51, 51, .2);
}