h1 {
    text-align: center
    

}

h4 {
    color : #ffffff ;
    text-align: center;  

}
#RapportdeVisite {
    border: 2px double #000000;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 1000px;
    background-color: aquamarine;

}
#ConsultationdesRapports {
    border: 2px double #000000;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 1000px;
    background-color: aquamarine;

}
#Medicament {
    border: 2px double #000000;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 1000px;
    background-color: aquamarine;

}
#Praticien {
    border: 2px double #000000;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 1000px;
    background-color: aquamarine;

}

body {
    background: url("arriere.jpg") no-repeat center center fixed ;

}